<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/" class="brand-link">
    <img src="https://adminlte.io/themes/v3/dist/img/AdminLTELogo.png" alt="Admin Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">FrontEnd</span>
  </a>

  <!-- Sidebar -->

  <div>
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a href="/admin" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/bookings" class="nav-link">
            <i class="nav-icon fas fa-calendar-alt"></i>
            <p>Bookings</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/properties" class="nav-link">
            <i class="nav-icon fas fa-building"></i>
            <p>Properties</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/customers" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>Customers</p>
          </a>
        </li>
        <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="nav-icon fas fa-credit-card"></i>
                  <p>
                  Finances
                    <i class="nav-arrow bi bi-chevron-right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="/admin/finances/" class="nav-link">
                      <i class="nav-icon bi bi-circle"></i>
                      <p>Reports</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/admin/invoices" class="nav-link">
                      <i class="nav-icon bi bi-circle"></i>
                      <p>Invoices</p>
                    </a>
                  </li>
                </ul>
              </li>




        <li class="nav-item">
          <a href="/admin/search/new" class="nav-link">
            <i class="nav-icon fas fa-building"></i>
            <p>Search Availability</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/settings" class="nav-link">
            <i class="nav-icon fas fa-cogs"></i>
            <p>Settings</p>
          </a>
        </li>
        <li class="nav-item">
        <%= form_with(url: destroy_admin_session_path, method: :delete, class: "nav-link", style: "display: inline;") do %>
          <i class="nav-icon fas fa-sign-out-alt"></i>
          <%= submit_tag "Logout", class: "btn btn-link p-0 text-light", data: { disable_with: "Logging out..." } %>
        <% end %>

      </li>

      </ul>
    </nav>
  </div>
</aside>
